@font-face {
  font-weight: normal;
  font-family: "Cuprum";
  font-style: normal;

  src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Cuprum";
  font-style: normal;

  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Cuprum";
  font-style: italic;

  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}



body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-style: normal;

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 60px;
  height: 60px;

  background-image: url("../img/new-label.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header {
  margin-bottom: 59px;
  padding-bottom: 60px;

  background-color: rgb(243, 247, 248);
}

.main-header--inner {
  margin-bottom: 23px;
}

.main-header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 39px;
}

.button {
  padding: 10px 10px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button--default {
  background-color: rgb(238, 54, 67);
}

.button--default:focus,
.button--default:hover {
  background-color: rgb(202, 44, 55);
}

.button--default:active {
  background-color: rgb(186, 39, 50);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  height: 42px;

  color: rgb(255, 255, 255);

  background-color: rgb(238, 54, 67);
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: rgb(181, 41, 51);
  cursor: pointer;
}

.logo:not([href]) {
  cursor: default;
}

.logo[href]:focus,
.logo[href]:hover {
  background-color: rgb(202, 44, 55);
  border-bottom-color: rgb(154, 33, 42);
}

.logo[href]:active {
  background-color: rgb(186, 39, 50);
  border-bottom-color: rgb(142, 30, 38);
}

.top-header {
  margin-bottom: 46px;

  font-size: 17px;
  line-height: 18px;
  color: rgb(255, 255, 255);

  background-color: rgb(41, 52, 73);
}

.top-header__container {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 720px;
  padding-left: 230px;
}

.top-header__logo {
  position: absolute;
  top: 0;
  left: 10px;
}

.top-header__order {
  display: block;
  padding: 12px 20px;

  font: inherit;
  text-transform: none;

  background-color: rgb(99, 166, 62);
  border-radius: 0;
}

.top-header__order:focus,
.top-header__order:hover {
  background-color: rgb(95, 187, 45);
}

.top-header__order:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: rgb(81, 133, 52);
}

.top-header__search {
  width: 270px;
}

.search__content {
  position: relative;

  margin: 0;
}

.search__icon {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;
}

.search__input {
  position: relative;

  width: 200px;
  height: 18px;
  padding: 12px 20px;
  padding-left: 50px;

  font: inherit;
  color: rgb(255, 255, 255);

  background-color: transparent;
  border: none;
}

.search__input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.search__input:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.search__input::-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.search__input::placeholder {
  color: rgb(255, 255, 255);
}

.search__input:hover {
  background-color: rgb(33, 42, 58);
}

.search__input:hover + .search__icon {
  opacity: 1;
}

.search__input:focus {
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.search__input:focus + .search__icon {
  opacity: 1;

  fill: rgb(238, 54, 67);
}

.services-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.top-header__services {
  margin-left: auto;
}

.services-navigation__link {
  position: relative;

  display: block;
  padding: 12px;
  padding-right: 30px;
  padding-left: 44px;

  font: inherit;
  text-transform: none;

  background-color: rgb(238, 54, 67);
  border-radius: 0;
}

.services-navigation__link::before {
  content: "";
  position: absolute;
  left: 17px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.services-navigation__link--bookmark::before {
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-navigation__link:focus,
.services-navigation__link:hover {
  background-color: rgb(202, 44, 55);
}

.services-navigation__link:focus::before,
.services-navigation__link:hover::before {
  opacity: 1;
}

.services-navigation__link:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: rgb(186, 39, 50);
}

.services-navigation__link:active::before {
  opacity: 0.5;
}

.services-navigation__link--empty {
  background-color: transparent;
}

.services-navigation__link--empty:focus,
.services-navigation__link--empty:hover {
  background-color: rgb(33, 42, 58);
}

.services-navigation__link--empty:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: rgb(22, 29, 41);
}

.main-header__title {
  width: 197px;
  margin: 0;
  margin-right: 71px;

  font-size: 16px;
  line-height: 23px;
  color: rgb(238, 54, 67);
  font-style: italic;
}

.contacts {
  width: 300px;
}

.contacts__text {
  width: 180px;
  margin: 0;
  margin-bottom: 30px;
}

.contacts__map {
  width: 300px;
  height: 158px;
}

.contact__map-button {
  display: block;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.contact__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;

  font-family: "Cuprum", "Arial", sans-serif;
}

.main-header__contact-info {
  margin-right: 50px;
}

.contact-info {
  width: 270px;
}

.contact-info__tel {
  position: relative;

  display: block;
  margin: 0;
  margin-bottom: 4px;
  padding: 9px 39px;
  padding-left: 61px;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: rgb(238, 54, 67);

  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.contact-info__tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-info__address {
  margin: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgb(50, 66, 92);
}

.about {
  width: 540px;
}

.company-info__text p {
  margin: 0;
  margin-bottom: 24px;
}

.company-info__text p:last-of-type {
  margin-bottom: 22px;
}

.list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.list__item {
  position: relative;

  margin-bottom: 18px;
  padding-left: 35px;
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: rgb(238, 54, 67);
}

.about__link {
  display: inline-block;
  min-width: 200px;

  font-family: "Cuprum", "Arial", sans-serif;
  vertical-align: middle;
}

.user {
  width: 300px;
}

.user__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  list-style: none;
}
.user__item {
  margin-right: 10px;
}

.user__item:last-child {
  margin-right: 0;
}

.user__button {
  display: block;
  padding: 12px 25px;

  font-size: 21px;
  line-height: 21px;
  color: rgb(0, 0, 0);
  text-transform: none;

  background-color: rgb(255, 255, 255);
}

.user__button--icon {
  position: relative;

  padding-left: 48px;
}

.user__button:focus,
.user__button:hover {
  color: rgb(238, 54, 67);
}

.user__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.user__button--profile:focus,
.user__button--profile:hover {
  color: rgb(0, 0, 0);
}

.user__icon {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  fill: rgb(197, 197, 197);
}

.user__service {
  position: relative;

  padding: 0 15px;
  padding-left: 18px;
}

.user__service::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;

  width: 4px;
  height: 4px;

  background-color: rgb(50, 66, 92);
  border-radius: 50%;
}

.user__service:first-child::before {
  display: none;
}

.user__button--logout {
  width: 20px;
  height: 17px;
  padding: 14px 10px;
}

.user__button--logout .user__icon {
  position: static;
}

.user__button:focus .user__icon,
.user__button:hover .user__icon {
  fill: rgb(50, 66, 92);
}

.user__button:active .user__icon {
  fill: rgb(197, 197, 197);
}

.user__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user__button--service {
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: rgb(50, 66, 92);
  text-transform: none;
  text-decoration: underline;

  background-color: transparent;
}

.navigation {
  color: rgb(255, 255, 255);

  background-color: rgb(50, 66, 92);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;

  border-bottom: 5px solid rgb(41, 52, 73);
}

.navigation__link {
  display: block;
  padding: 19px 31px;

  font-size: 17px;
  line-height: 17px;
  color: rgb(255, 255, 255);
}

.navigation__link:focus,
.navigation__link:hover {
  background-color: rgb(41, 52, 73);
}

.navigation__link:active,
.navigation__link--current,
.navigation__link--current:focus,
.navigation__link--current:hover {
  color: rgba(255, 255, 255, 0.5);

  background-color: rgb(29, 39, 57);
}

.index-page__promo {
  margin-bottom: 34px;
}

.index-page__hits:last-child {
  margin-bottom: 65px;
}

.index-page__services {
  margin-bottom: 80px;
}

.inner-page__header {
  margin-bottom: 21px;
}

.inner-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
}

.inner-page__filter {
  width: 220px;
}

.inner-page__catalog {
  width: 700px;
}



.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.promo-card {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  padding-top: 22px;
  padding-left: 22px;

  color: rgb(255, 255, 255);
}

.promo-card--materials {
  background-color: rgb(255, 191, 71);
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-card--tools {
  background-color: rgb(59, 188, 227);
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 198px 33px;
}

.promo-card--tech {
  background-color: rgb(220, 145, 216);
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 190px 31px;
}

.promo-card--sale {
  background-color: rgb(142, 215, 143);
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.promo-card--delivery {
  background-color: rgb(255, 191, 71);
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo-card__title {
  margin: 0;
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.promo-card__link {
  display: inline-block;
  min-width: 115px;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.promo-card__link:focus,
.promo-card__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-card__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel {
  position: relative;

  width: 620px;
  height: 266px;
  margin-right: 20px;
  overflow: hidden;
}

.carousel__slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.carousel__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.carousel__slide--current {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

.carousel__button {
  position: absolute;
  bottom: 22px;
  left: 24px;

  padding: 10px 47px;
}

.carousel__scroll {
  position: absolute;
  top: 114px;

  width: 22px;
  height: 40px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.carousel__scroll--prev {
  left: 25px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.carousel__scroll--next {
  right: 20px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.carousel__controls {
  position: absolute;
  bottom: 36px;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 160px;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.carousel__control {
  margin-right: 10px;
}

.carousel__control:last-child {
  margin-right: 0;
}

.carousel__slide-indicator {
  position: relative;

  display: block;
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.carousel__slide-indicator--current::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: -3px;

  background-color: rgb(238, 54, 67);
  border-radius: 50%;
}

.slide {
  position: relative;

  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.slide__info {
  position: absolute;
  top: 0;
  left: 0;

  padding-top: 23px;
  padding-left: 24px;
}

.slide__title {
  margin: 0;
  margin-bottom: 3px;

  font-size: 36px;
  line-height: 36px;
}

.slide__text {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: none;
}

.hits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.hits__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.hits__item:nth-child(4n) {
  margin-right: 0;
}

.hits__link {
  min-width: 233px;
  padding: 10px 10px;
}

.hits__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;

  background-color: rgb(249, 245, 240);
}

.hits__title {
  margin: 0;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
}

.card {
  position: relative;

  width: 218px;
  min-height: 316px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 229, 229);
}

.card .new::before {
  top: -1px;
  right: -1px;
}

.card__thumbnail {
  width: 184px;
  height: 164px;
  margin-bottom: 11px;
}

.card__title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0 25px;

  font-size: 18px;
  line-height: 20px;
  color: rgb(0, 0, 0);
}

.card__actions-list {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  list-style: none;

  background-color: rgb(255, 255, 255);
  opacity: 0;
}

.card:focus,
.card:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card--current .card__actions-list,
.card:focus .card__actions-list,
.card:hover .card__actions-list {
  opacity: 1;
}

.card:focus-within .card__actions-list {
  opacity: 1;
}

.card__action {
  position: relative;

  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  background-color: rgb(99, 166, 62);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -3px 0 0 rgb(54, 115, 21);
          box-shadow: inset 0 -3px 0 0 rgb(54, 115, 21);
}

.card__action--cart {
  position: relative;
}

.card__action--cart::before {
  content: "";
  position: absolute;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.card__action--cart:focus::before,
.card__action--cart:hover::before,
.card__action--cart:active::before {
  opacity: 1;
}

.card__action:focus,
.card__action:hover {
  background-color: rgb(95, 187, 45);
}

.card__action:active {
  background-color: rgb(81, 133, 52);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card__action--bookmark {
  padding-top: 7px;
  padding-bottom: 7px;

  color: rgb(50, 66, 92);

  background-color: rgb(255, 255, 255);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(99, 166, 62);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card__action--bookmark:focus,
.card__action--bookmark:hover {
  background-color: rgb(255, 255, 255);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(50, 66, 92);
}

.card__action--bookmark:active {
  color: rgb(50, 66, 92);

  background-color: rgb(255, 255, 255);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(50, 66, 92);
  opacity: 0.3;
}

.card__origin-price {
  min-height: 20px;
  margin: 0;
  margin-bottom: 6px;

  color: rgb(169, 169, 169);
  text-transform: uppercase;
  text-decoration: line-through;
}

.card__current-price {
  position: relative;

  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  font-size: 17px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;

  background-color: rgb(238, 54, 67);
  border-radius: 3px;
}

.card__current-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;

  border-width: 19px;
  border-style: solid;
  border-color: white;
  border-left-color: rgb(238, 54, 67);
}

.brand {
  display: block;
  width: 218px;
  height: 108px;
  padding-top: 35px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 229, 229);
}

.brand:focus,
.brand:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand:active {
  border-color: transparent;
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand__thumbnail {
  width: 184px;
  height: 73px;
  margin-bottom: 35px;

  pointer-events: none;
}

.brand:active .brand__thumbnail {
  opacity: 0.3;
}

.services {
  padding-top: 68px;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);

  background-color: rgb(244, 248, 249);
}

.services__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.services__text {
  width: 400px;
  margin: 0;
  margin-bottom: 13px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tabs__controls {
  position: relative;

  width: 240px;
  margin: 0;
  padding: 0;
  padding-top: 56px;

  list-style: none;
}

.tabs__controls::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tabs__control {
  display: block;
  width: 100%;
  padding: 13px 22px;
  padding-bottom: 17px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: rgb(255, 255, 255);
  text-transform: none;

  background-color: rgb(50, 66, 92);
  border: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 -1px 0 0 rgb(41, 52, 73),
  inset 0 1px 0 0 rgb(64, 80, 105);
          box-shadow: inset 0 -1px 0 0 rgb(41, 52, 73),
  inset 0 1px 0 0 rgb(64, 80, 105);
  cursor: pointer;
}


.tabs__control:focus,
.tabs__control:hover {
  background-color: rgb(41, 52, 73);
}

.tabs__control:active,
.tabs__control--current,
.tabs__control--current:focus,
.tabs__control--current:hover {
  color: rgb(50, 66, 92);

  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 620px;
  min-height: 287px;
  margin: 0;
  padding: 0;
  padding-top: 53px;
  overflow: hidden;

  list-style: none;
}

.tabs__item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 100%;
  min-height: 265px;

  background-image: url("../img/services-slide-1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.tabs__item:nth-child(2) {
  background-image: url("../img/services-slide-2.png");
}

.tabs__item:nth-child(3) {
  background-image: url("../img/services-slide-3.png");
}

.tabs__item--current {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.tabs__item-title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: rgb(50, 66, 92);
  text-transform: uppercase;
}

.tabs__item-text {
  width: 375px;
  margin: 0;
  margin-bottom: 25px;
}

.tabs__button {
  display: inline-block;
  min-width: 175px;

  font-family: "Cuprum", "Arial", sans-serif;
  vertical-align: middle;
}

.company-info {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.company-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.company-info__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.list {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.main-footer {
  margin-top: 86px;

  color: rgb(255, 255, 255);

  background-color: rgb(50, 66, 92);
}

.main-footer--inner {
  margin-top: 0;
}

.main-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 38px;
}

.main-footer__info {
  width: 380px;
}

.main-footer__logo {
  height: 63px;
  margin-bottom: 25px;
}

.main-footer__navigation {
  width: 550px;
}

.main-footer__address {
  width: 322px;
  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.footer-navigation {
  padding-top: 35px;
}

.footer-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;
}

.footer-navigation__link {
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.footer-navigation__item {
  margin-left: 59px;
}

.footer-navigation__item:first-child {
  margin-left: 0;
}

.footer-navigation__list--sub .footer-navigation__link {
  color: rgb(255, 209, 128);
}

.footer-navigation__link:focus,
.footer-navigation__link:hover {
  text-decoration: underline;
}

.footer-navigation__link:active {
  text-decoration: none;

  opacity: 0.5;
}

.sub-footer {
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);

  background-color: rgb(41, 52, 73);
}

.sub-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0;
}

.sub-footer__copyright {
  width: 230px;
  margin: 0;
  margin-right: 162px;
}

.sub-footer__social {
  width: 132px;
  margin-right: 120px;
}

.sub-footer__mail {
  width: 140px;
  margin: 0;
  margin-right: 47px;
}

.sub-footer__development {
  width: 100px;
  margin: 0;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  width: 40px;
  height: 40px;

  background-color: rgb(33, 42, 58);
  border-radius: 50%;
}

.social-button--vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button--fb {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button--inst {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:focus,
.social-button:hover,
.social-button:active {
  background-color: rgb(238, 54, 67);
}

.sub-footer__link {
  font: inherit;
  color: rgb(255, 209, 128);
}

.sub-footer__link:focus,
.sub-footer__link:hover {
  text-decoration: underline;
}

.sub-footer__link:active {
  color: rgb(238, 54, 67);
  text-decoration: none;
}

.feedback__label {
  font-size: 18px;
  line-height: 18px;
  color: rgb(0, 0, 0);
}

.feedback__input {
  font: inherit;
  line-height: 18px;

  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(222, 227, 228);
}

.feedback__input:hover {
  border-color: rgb(181, 181, 181);
}

.feedback__input:focus {
  border-color: rgb(238, 54, 67);
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.inner-page__breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs__item {
  position: relative;

  padding-right: 40px;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 14px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs__link {
  display: block;

  font: inherit;
  color: rgb(0, 0, 0);
}

.breadcrumbs__link--home {
  width: 14px;
  height: 14px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs__link:focus,
.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.inner-page__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(50, 66, 92);
  text-transform: uppercase;

  background-color: rgb(242, 246, 248);
}

.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 18px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  background-color: rgb(247, 243, 236);
}

.filter__group {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  border: none;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.filter__group:last-of-type {
  margin-bottom: 55px;

  border: none;
}

.filter__group-title {
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter__list {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  list-style: none;
}

.filter__item {
  margin-bottom: 15px;
}

.filter__item:last-child {
  margin-bottom: 0;
}

.filter__label {
  position: relative;

  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;

  cursor: pointer;
}

.filter__indicator {
  position: absolute;
  top: 50%;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.8;
}

.filter__indicator--checkbox {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__indicator--radio {
  display: block;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__input:focus + .filter__label .filter__indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  opacity: 1;
}

.filter__label:hover .filter__indicator {
  opacity: 1;
}

.filter__input:disabled + .filter__label {
  cursor: default;
  opacity: 0.4;
}

.filter__input:checked + .filter__label .filter__indicator--checkbox {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__input:checked + .filter__label .filter__indicator--radio {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__button {
  min-width: 138px;

  font-size: 13px;
  line-height: 18px;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 229, 299);
}

.filter__button:focus,
.filter__button:hover {
  border-color: rgb(189, 198, 202);
}

.filter__button:active {
  border-color: rgb(238, 54, 67);
}

.range__view {
  position: relative;

  width: 220px;
  height: 80px;
  margin-bottom: 9px;

  background-color: rgb(247, 243, 236);
}

.range__view::before,
.range__view::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;

  height: 2px;
  margin-top: -1px;
}

.range__view::before {
  width: 180px;

  background-color: rgb(215, 220, 222);
}

.range__view::after {
  width: 152px;

  background-color: rgb(0, 202, 116);
}

.range__button {
  content: "";
  position: absolute;
  z-index: 1;

  display: block;
  width: 20px;
  height: 22px;
  margin-top: -11px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.range__button--min {
  top: 50%;
  left: 20px;
}

.range__button--max {
  top: 50%;
  left: 160px;
}

.range__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding-bottom: 25px;
}

.range__input {
  width: 75px;
  padding: 10px;
  padding-right: 5px;
  padding-left: 20px;

  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
  text-align: center;
  color: rgb(0, 0, 0);

  background-color: rgb(247, 243, 236);
  border: none;
  border-radius: 3px;
}

.sort-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 17px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  background-color: rgb(247, 243, 236);
}

.catalog__sort {
  margin-bottom: 20px;
}

.sort-panel__title {
  margin: 0;
  margin-right: auto;
}

.sort-panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 380px;
  margin: 0;
  margin-right: 20px;
  padding: 0;

  list-style: none;
}

.sort-panel__item {
  margin-right: 70px;
}

.sort-panel__item:last-child {
  margin-right: 0;
}

.direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 43px;
  margin: 0;
  margin-right: 7px;
  padding: 0;

  list-style: none;
}

.direction__link {
  display: block;
  width: 11px;
  height: 10px;
}

.direction__link:focus,
.direction__link:hover {
  fill: rgb(0, 0, 0);
}

.direction__link--revert {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.direction__link--current,
.direction__link--current:focus,
.direction__link--current:hover,
.direction__link:active {
  fill: rgb(238, 54, 67);
}

.sort-panel__link {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted rgb(238, 54, 67);
}

.sort-panel__link:focus,
.sort-panel__link:hover {
  color: rgb(0, 0, 0);

  border-bottom-style: solid;
}

.sort-panel__link:active,
.sort-panel__link--current,
.sort-panel__link--current:focus,
.sort-panel__link--current:hover,
.sort-panel__link--current:active {
  color: rgb(238, 54, 67);

  border: none;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  list-style: none;
}

.catalog__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog__item:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 38px;
  margin-right: 10px;
  padding: 9px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(229, 229, 299);
  border-radius: 3px;
}

.pagination__link--next {
  margin-right: 0;
  padding-right: 32px;
  padding-left: 32px;
}

.pagination__link:focus,
.pagination__link:hover {
  border-color: rgb(189, 198, 202);
}

.pagination__link:active {
  border-color: rgb(238, 54, 67);
}

.pagination__link--current,
.pagination__link--current:focus,
.pagination__link--current:hover,
.pagination__link--current:active {
  color: rgb(255, 255, 255);

  background-color: rgb(238, 54, 67);
  border-color: rgb(238, 54, 67);
}

.tool-info {
  padding-top: 67px;
  padding-bottom: 68px;

  background-color: rgb(242, 246, 248);
}

.tool-info__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.tool-info__text {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translateX(-50%) translateY(-200%);
            transform: translateX(-50%) translateY(-200%);
  }

  50% {
    -webkit-transform: translateX(-50%) translateY(-30%);
            transform: translateX(-50%) translateY(-30%);
  }

  80% {
    -webkit-transform: translateX(-50%) translateY(-60%);
            transform: translateX(-50%) translateY(-60%);
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@keyframes show {
  0% {
    -webkit-transform: translateX(-50%) translateY(-200%);
            transform: translateX(-50%) translateY(-200%);
  }

  50% {
    -webkit-transform: translateX(-50%) translateY(-30%);
            transform: translateX(-50%) translateY(-30%);
  }

  80% {
    -webkit-transform: translateX(-50%) translateY(-60%);
            transform: translateX(-50%) translateY(-60%);
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50%) translateY(-55%);
            transform: translateX(-50%) translateY(-55%);
  }


  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-50%) translateY(-60%);
            transform: translateX(-50%) translateY(-60%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50%) translateY(-55%);
            transform: translateX(-50%) translateY(-55%);
  }


  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-50%) translateY(-60%);
            transform: translateX(-50%) translateY(-60%);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  display: none;
  max-width: 960px;

  background-color: rgb(255, 255, 255);
  border-top: 7px solid rgb(238, 54, 67);
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal--show {
  display: block;

  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;

  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.modal--map {
  width: 940px;
  height: 446px;

  border-top: none;
}

.modal--feedback {
  padding-top: 50px;
}

.modal--cart .button {
  width: 200px;
}

.modal--error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal__embedded-map {
  position: relative;
  z-index: 2;

  border: none;
}

.modal__map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal__message {
  margin: 0;
  padding: 65px;
  padding-right: 125px;
  padding-left: 179px;

  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.modal__message--success {
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 81px 50px;
}

.modal__button {
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

.modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 37px 80px;

  background-color: rgb(244, 244, 244);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 4px;
  z-index: 3;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
}

.close__icon {
  fill: rgb(238, 54, 67);
}

.modal__close:focus .close__icon,
.modal__close:hover .close__icon {
  fill: rgb(202, 44, 55);
}

.modal__close:active .close__icon {
  fill: rgb(186, 39, 50);
}

.feedback-form__wrapper {
  padding: 0 80px;
}

.feedback-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-form__column {
  width: 220px;
  margin-right: 20px;
}

.feedback-form__column:last-child {
  margin-right: 0;
}

.feedback-form__label {
  display: block;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 18px;
}

.feedback-form__input,
.feedback-form__textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 19px;
  padding: 8px 14px;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;

  border-width: 2px;
  border-style: solid;
  border-color: rgb(222, 227, 228);
  border-radius: 3px;
}

.feedback-form__textarea {
  min-height: 114px;
}

.feedback-form__input:hover,
.feedback-form__textarea:hover {
  border-color: rgb(181, 181, 181);
}

.feedback-form__input:focus,
.feedback-form__textarea:focus {
  border-color: rgb(238, 54, 67);
}

.feedback-form__submit {
  display: block;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  display: none;
  width: 100%;
  height: 100%;
}

.modal-overlay--show {
  display: block;
}
